/* Clear default padding and margin */
* {
    margin: 0px;
    padding: 0px;
}

/* Body CSS */
body{
    background-color: #f5f3f3;
}
p{
    font-size: 14px;
}

/* **************
* Container CSS
 ****************/
.container{
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


 /***************** 
 * Navigation CSS
  *****************/
nav{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

nav>div{
    text-align: center;
    margin: 10px 0px;
}



  /* *************************** 
  * Content Section CSS
  *****************************/
section{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "one one one two"
        "one one one three"
        "four five six seven"
    ;
}

/* CSS for flex-column applied on the following divs */
.flex-col{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* CSS for making the divs cards */
.card{
    background-color: #f5f3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

/* CSS for the site buttons */
.btn{
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: rgb(90, 90, 90);
}


.introduction{
    grid-area: one;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.intro-cont{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.introduction img{
    width: 900px;
    height: 350px;
    position: absolute;
    z-index: -1;
}
.introduction button{
    padding: 5px;
    width: 100px;
    background-color: #808080;
    color: #ffffff;
    border: none;
}

.membership{
    grid-area: two;
}

.pro-membership{
    grid-area: three;
}

.analysis{
    grid-area: four;
}

.marketing{
    grid-area: five;
}

.development{
    grid-area: six;
}

.support{
    grid-area: seven;
}